<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BarBlog" connectionString="Server=.\SQL2014;Database=BarBlog;User Id=sa; Password=sqlserver;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BarBlog.Web-20161118033414.mdf;Initial Catalog=aspnet-BarBlog.Web-20161118033414;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Mode" value="DB"/>
  </appSettings>
</configuration>