/*white = rgb(248, 248, 248)*/
/*white tranparent = rgb(248, 248, 248, 0.4)*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#BlogPosts{
    padding-left: 10px;
    padding-right: 10px;
}
.BlogPost{
    margin-bottom: 10px;
    border: solid 2px lightgray;
    padding: 0px 10px 10px 10px;
}
.BlogPost > h3{
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px red;

}
.BlogPost > h6{
    margin-top: 5px;
    color: gray;
}

.buttonBorder {
    padding-bottom: 30px;
    margin-bottom: 10px;
}

footer > p{
    border-top: solid 1px gray;
    padding-top: 10px;
    padding-left: 10px;
}

footer{
    margin-top: 10px;
}

.body-content{
    padding-right: 0; 
    padding-left: 0;
}
#searchBtn{
    color: white;
    border: solid 1px #333333;
    display: block;
    position: absolute;
    right: 10px;
}

#searchBtn:hover{
    color: white;
    background-color: #333333;
    background-color: rgba(248,242,248,.3);
}
button.navbar-toggle{
    margin-right: 55px;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: #333333;
    background-color: rgba(248,248,248,.3);
}
.navbar-right{
    padding-right: 20px;
}

#searchDrawer, .drawer-contents{
    background-color: rgb(248, 248, 248);
    background-color: rgba(248, 248, 248, 0.6);
}
#searchDrawer{
    margin-top: 51px;
    position: fixed;
}

#searchDrawer input{
  background-color: rgba(255, 255, 255, .9); 
  color: #555555; 
}
#searchDrawer label{
  color: black;
}

#jumbotron-home {
   background-image: url('../img/jumbotron.jpg');
   background-position: bottom;
   background-size:cover;
   background-repeat:no-repeat;
   height: 50vh;
   color: white;
}

.jumbotron > h1{
    text-align: center;
    padding-bottom: 10px;
    color: maroon;
    border-bottom: solid 2px black;
    padding-bottom: 20px;
}

#jumbotron-home > h1{
    text-align: center;
    -webkit-text-stroke: 2px black;
    
    padding-top: 10px;
    color: black;
    border: solid 5px white;
    border-radius: 10px;
    font-family: 'Bungee Shade', cursive;
    background-color: rgba(255,255,255,0.4);
    padding-bottom: 20px;
}

#staticPageDropdown, #themeSwitcher{
    color: red;
}

.jumbotron{
    margin: 10px;
    background-color: tan;
    
}

.navbar{
    background-image: url('../img/navbar.jpg');
    background-repeat: repeat;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    background: transparent; 
}
#staticPageDropdown, #themeSwitcher{
    background-color: #333333;
    /*color: white;*/
    background-image: url('../img/navbar.jpg');
    background-repeat: repeat;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: white;
    color: #333333;
        
}
.dropdown-menu > li > a, .dropdown-menu > li > a{
    color: white;
}

.navbar-collapse{
    max-height:none;
}

@media (max-width: 767px) {
    .navbar-toggle {
      outline: none;
      border: none;    
    }
}

/*enabled*/
.pagination > li > a, .pagination > li > span{
    background-color: transparent;
    border-color: gray;
    color: gray;
}

/*enabled hover*/
.pagination > li > a:hover, .pagination > li > span:hover{
}

/*disabled*/
.pagination > .disabled > span, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
    background-color: transparent;
    border-color: gray;
    color: red;
}

/*active*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: gray;
    border-color: gray;
    color: white;
}


/*Static Pages*/

.staticpage{
    border: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 10px;

    margin: 10px 10px 10px 10px;

}

.panel-heading.staticpage-heading{
    background-color: gray;
    border-color: #333333;
    border-radius: 10px;
}

.panel-body.staticpage-body{
    border-color: red;
    color: #333333;


}

.panel-body{
    margin:10px;
}

.staticpage-buttons{

    padding: 10px;
}

#buttonBorder{
    margin: 10px;
}

#AdminButtons{
    margin-top: 10px;
    border-top: solid red 1px;
    padding-top: 10px;
}

#pageform{
    margin: 10px;

}

#pageButtons{
    margin: 10px;
}

#PostForm{
    margin: 10px;
}

h2{
    margin-bottom: 1em;
}