/*Color palette 
    pink: rgb(255,0,153)
    yellow: rgb(255,255,0)
    green: rgb(25,222,18)
    orange: rgb(255,102,0)
    purple rgb(110,13,208)
*/

body {
    background-color: black;
}

.container.body-content{
    color: white;
}

a{
    color: rgb(255,0,153);
}

a:hover, a:active{
    color: color: rgba(255,0,153,0.9);
}

.BlogPost{
    border: double 4px rgb(25,222,18);
    border-radius: 10px;
    color: white;
}

.BlogPost > h3{
    border-bottom: double 4px rgb(255,0,153);
    color: rgb(255,102,0);
    font-family: 'Audiowide', cursive;
}
.BlogPost > h6{
    color: rgb(110,13,208);
}

.BlogPost > #tags{
    color: rgb(255,255,0);
}

footer > p{
    border-top: double 4px rgb(255,0,153);
    color: white;   
}

#searchBtn{
    color: white;
    border-color: rgb(255,0,153);
}

#searchBtn:hover{
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.25);
    border-color: rgb(255,0,153);
}

.navbar-inverse .navbar-toggle{
    color: white;
    border: solid 1px rgb(255,0,153);    
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.25);
    border: solid 1px rgb(255,0,153);
}

.navbar{
    background-image: none;
    background-color: rgb(110,13,208);
    border-bottom: double 3px rgb(255,0,153);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    background: transparent; 
}

#staticPageDropdown, #themeSwitcher{
    background-color: rgb(110,13,208);
    background-image: none;
}

/*.navbar-inverse .navbar-nav > .dropdown > a .caret:hover{
    border-top-color: rgb(255,255,0);
    border-bottom-color: rgb(255,255,0);
}

.navbar-inverse .navbar-nav > .dropdown > a .caret{
    border-top-color: white;
    border-bottom-color: white;
}*/

.navbar-inverse .navbar-nav > .open > a .caret, .navbar-inverse .navbar-nav > .open > a:hover .caret, .navbar-inverse .navbar-nav > .open > a:focus .caret {
     border-top-color: white; 
     border-bottom-color: white; 
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
     border-top-color: white; 
     border-bottom-color: white; 
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
     border-top-color: white; 
     border-bottom-color: white; 
}
.nav a:hover .caret {
     border-top-color: white; 
     border-bottom-color: white; 
}
.nav .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: white;
    color: rgb(110,13,208);      
}

#jumbotron-home > h1{  
    color: rgb(255,102,0);
    -webkit-text-stroke-color: rgb(255,102,0);
    border-color: rgb(255,255,0);
    background-color: rgba(255,255,255,0.8);

}

#jumbotron-home {
    border: double 4px rgb(25,222,18);
    background-color: transparent;
    background-image: url('../../img/ravejumbotron.jpg');
    background-position: center;
}

.navbar-inverse .navbar-brand{
    color: white;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
    color: rgb(255,255,0);
}

.navbar-inverse .navbar-nav > li > a{
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
   color: rgb(255,255,0); 
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:rgb(255,0,153);
}

@media (max-width: 767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
      color: white;  
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
      color: rgb(255,255,0);  
    }
}
/*enabled*/
.pagination > li > a, .pagination > li > span{
    background-color: transparent;
    border-color: rgb(110,13,208);
    color: rgb(255,255,0);
}

/*enabled hover*/
.pagination > li > a:hover, .pagination > li > span:hover{
    background-color: rgba(110,13,208,0.5);
    border-color: rgb(110,13,208);
    color: rgb(255,255,0);
}

/*disabled*/
.pagination > .disabled > span, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
    background-color: transparent;
    border-color: rgb(110,13,208);
    color: rgb(255,102,0);
}


/*active*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: rgb(110,13,208);
    border-color: rgb(110,13,208);
    color: white;
}

/*Static Pages*/

.panel-heading.staticpage-heading{
    background-color: rgb(255,102,0);
    border-radius: 7px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.panel-heading.staticpage-heading > h2{
    font-family: 'Audiowide', cursive;
}



.staticpage{
    border-color: red;
    border: double 4px rgb(25,222,18);
    box-shadow: none;
    background-color: transparent;
    border-radius-top: 10px;

}

.panel-body.staticpage-body{
    border-top: double 4px rgb(25,222,18);
    border-color: none;

    color: white;
}

.btn.btn-danger{
    background-color: rgb(255,0,153);
}

.btn.btn-primary{
    background-color: rgb(110,13,208);
    border: 0;
}
.btn.btn-primary:hover{
    background-color: rgba(110,13,208,0.7);
    border: 0;
}

.staticpage-buttons{
    border-top: double 4px rgb(25,222,18);
}


/*validation*/

.text-danger{
    color: rgb(255,0,153);
}


.panel, .panel-primary, .panel-body{
    background-color: transparent;
    border: none;
}

#pageform{
    background-color: transparent;
}
.panel-primary > .panel-heading{
    background-color: rgb(110,13,208)
}

tr{
    color: black;
    background-color: white;
}
.btn-primary{
    background-color: rgb(25,222,18);
}

.btn-primary:hover{
    background-color: rgba(25,222,18,0.8);
}

