@model BarBlog.Models.Category
@{
    ViewBag.Title = "CreateCategory";
}

<h2>Create Category</h2>

<div class="row" id="pageform">
    @using (Html.BeginForm("CreateCategory", "Category", null, FormMethod.Post, new { id = "categoryform" }))
    {
        @Html.TextBoxFor(m=>m.CategoryName, new { @class = "form-control"})
        @Html.ActionLink("Cancel", "CategoryIndex", "Category", null, new { @class = "btn btn-sm btn-primary" })
        <button type="submit" class="btn btn-sm btn-secondary" id="savepost">Save</button>
    }
</div>

@section scripts{
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/App/tinymcecontrol.js"></script>
}
