@model BarBlog.Models.Category
@{
    ViewBag.Title = "DeleteCategory";
}

<h2>Delete Category</h2>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m=>m.CategoryID)
            <p>Are you sure you want to delete the Category "@Html.DisplayFor(m=>m.CategoryName)"?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "CategoryIndex", "Category", null, new { @class = "btn btn-sm btn-info"})
        }
    </div>
</div>